.experienceTitle__container {
  max-width: 1500px;
  width: 100%;
  flex: 1;
  margin: 0 auto;}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.experience-list-title {
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
}

.experience__container {
  width: 1500px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.experience {
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  background: #1b2127;
}

.experience-image {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.experience-details {
  margin: 20px 40px;
  margin-top: -50px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.experience-url {
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  color: #056fff;
  border-radius: 5px;
}

.experience-imageContainer {
  margin: 0;
}