.footer {
  background-color: #1b2127;
  color: white;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10vw;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    height: 100%;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
}