.header {
  background-color: #1b2127;
  color: white;
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* .header__container img {
  width: 35%;
} */

.header__container {
  width: 80%;
  margin: 0 auto;
  display: inherit;
  justify-content: space-between;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  border-bottom: 1px solid white;
}

.header__nav ol {
  height: inherit;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.header__nav li {
  padding-left: 20px;
  font-size: 23px;
}

.header__nav li:hover {
  text-decoration: underline;
}

.header a {
  color: white;
  text-decoration: none;
  height: inherit;
}

@media only screen and (max-width: 1377px) {
  .header__container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .header__nav {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 0;
  }

  .header__nav li {
    padding-left: 0px;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }

  .header__container img {
    width: 100%;
  }
}